@using website_ban_dong_ho.Models
@model IEnumerable<SanPham>

<nav class="navbar navbar-dark bg-inverse">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <nav class="navbar navbar-expand navbar-light bg-light">
                    <form class="navbar-form pull-right">
                        <input type="text" style="width: 300px;">
                        <button type="submit" class="btn btn-success">Tìm kiếm</button>
                    </form>

                    <div class="nav navbar-nav">
                        <a class="nav-item nav-link active" href="@Url.Action("Index","Home")">
                            Trang chủ<span class="sr-only">(current)</span>
                        </a>

                        @foreach (var groupItem in Model.GroupBy(n => n.LoaiSanPham))
                        {
                            if (groupItem.Key != null)
                            {


                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="true" aria-expanded="false">@groupItem.Key.TenLoai</a>
                                    <div class="dropdown-menu">

                                        @{
                                            var MaLoaiSP = groupItem.Key.MaLoaiSP;
                                        }
                                            

                                        @foreach (var item in groupItem.GroupBy(n => n.NhaSanXuat))
                                        {
                                            if (item.Key != null)
                                            {
                                                <a class="dropdown-item" href="@Url.Action("DanhSachSanPham","Partial",new {maNSX =  item.Key.MaNSX,maLoaiSP = MaLoaiSP})">@item.Key.TenNSX</a>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }

                        <a class="nav-item nav-link" href="#">Liên hệ</a>
                        <a class="nav-item nav-link" href="#">Giới thiệu</a>

                    </div>

                    <div class="nav navbar-nav float-xs-right" style="margin-top: -40px;">
                        @if (Session["TaiKhoan"] != null && Session["TaiKhoan"] != "")
                        {
                            ThanhVien tv = (ThanhVien)Session["TaiKhoan"];
                            <p style="color:azure">Chào , @tv.HoTen </p>
                            <a class="nav-item nav-link" href="@Url.Action("DangXuat","Partial")">Đăng xuất</a>
                        }
                        else
                        {
                            <a class="nav-item nav-link" href="@Url.Action("DangNhap","Partial")">Đăng nhập</a>
                            <a class="nav-item nav-link" href="@Url.Action("DangKy","Partial")">Đăng ký</a>
                        }

                        <a class="nav-item nav-link" href="#">Giỏ hàng</a>

                    </div>
                </nav>
            </div>


        </div>
    </div>
</nav>

<hr>




